@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Work+Sans:wght@300;500&display=swap');
.about{
    display: flex;
    height: 91vh;
    font-family: "work Sans";
    position: relative;
}
video{
    position: fixed;
    opacity: 0.2;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
}
.column2{
    padding: 40px;
    height: 100%;
    display: flex;
    place-content: center;
    place-items: center;
    z-index: 1;

}
.btn{
    margin-top: 30px;
    padding: 9px 25px;
    background-color: #146EF5;
}
.column2 h1{
    font-size: 2.5em;
    font-weight: bold;
}
.column2 div{
    width: 80%;
}
.column2 p{
    padding-top: 30px;
    line-height: 1.8em;
    font-weight: 300;
    width: 70%;
}
video{
    position: absolute;
    left: 0;
    height: 80%;
}
/* Styles for screens smaller than or equal to 600px */
@media (max-width: 600px) {
    /* CSS rules for small screens */
    .about{
        display: unset;
    }
    .column1{
        display: unset;
        height: fit-content;
    }
    video{
        position: unset;
    }
    .column2{
        padding: unset;
        margin-top: 50px;
    }
  }
  
  /* Styles for screens between 601px and 900px */
  @media (min-width: 601px) and (max-width: 900px) {
    /* CSS rules for medium screens */
    .about{
        display: unset;
    }
    .column1{
        display: unset;
        height: fit-content;
    }
    video{
        position: unset;
    }
    .column2{
        margin-top: 50px;
        padding: unset;
    }
  }
  
  /* Styles for screens larger than 900px */
  @media (min-width: 901px ) and (max-width: 1024px){
    /* CSS rules for large screens */
    .about{
        display: unset;
    }
    .column1{
        display: unset;
        height: fit-content;
    }
    video{
        position: unset;
    }
    .column2{
        padding: unset;
        margin-top: 50px;

    }
  }
