.section{
    margin-top: 40px;
    padding: 40px;
}
h2{
    font-size: 1.7rem;
}
.container{
    padding: 30px;
}
.contain{
    display: flex;
    padding: 50px;
}
.item span{
    font-size: 1.4rem;
    margin-bottom: 40px;
}
.item p{
    margin-top: 40px;
    width: 50%;
    font-weight: 300;
}
.img-container{
    height: 100%;
    display: flex;
    place-content: center;
    place-items: center;
}
img{
    height: 350px !important;
    width: 700px;
    border-radius: 2rem;
}
